#root {
    width: 1080px;
    margin: 0 auto;
    font-family: Nobel,sans-serif;
}

a:link    {
    text-decoration: none;
}

li {
    width: 500px;
    margin: 20px auto;
}

h1, h2 {
    text-align: center;
    letter-spacing: 0.025em;
    color: black;
}

h1 {
    font-size: 1.5625rem;
}

h2 {
    font-size: 1.25rem;
}

img {
    margin: 10px auto;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.article {
    margin: 60px 90px;
}

.article_body {
    margin: 40px 0;
}

.article_body p,  .article_body h2, .article_body blockquote{
   margin-top: 18px; 
}


